
body,
html {
	min-height: 100%;
}

body {
	background-image: url(background3.jpg);
background-repeat: no-repeat;
background-size: cover;
background-position: center;
}
h2 {
	text-align: center;
	}
	a{
		cursor: pointer;
	}